    @import url('../CSS/fonts.css');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--Roborto);
    }
    
    body {
        background: #eee;
        font-family: var(--Roborto);
    }
    
     :root {
        /*Theme Color*/
        --main_color: #ff8d8d;
        --second_color: #272c32;
        --btn_color: #3f4551;
        --white_color: #FFF;
        --shadow-color: #888;
        --Roborto: 'Roboto', 'sans-serif';
        --Roboto-Slab: 'Roboto-Slab', 'sans-serif';
    }
    
    ul {
        list-style-type: none;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        font-size: medium;
        padding: 0 .8rem;
        color: var(--second_color);
    }
    /* .max-width{
      width: 1000px;
      margin: auto;
    } */
    
    .capitalize {
        text-transform: capitalize;
    }
    
    .nav-bar {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 5%;
    }
    
    .nav-elements {
        display: flex;
    }
    
    .nav-elements li {
        padding: 0 .8rem;
    }
    
    .nav-elements a {
        padding: 0;
    }
    
    .sign-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .sign-cart button.cart-img {
        border: none;
        background: var(--white_color);
        border-radius: 10px;
        margin-right: .7rem;
        /* padding: 0px 0; */
        height: 2.4rem;
        width: 2.4rem;
        cursor: pointer;
    }
    
    .sign-cart button.cart-img:hover .cart {
        display: none;
    }
    
    .sign-cart button.cart-img:hover .cart-bg {
        display: flex;
    }
    
    .cart {
        display: flex;
        width: 1.2rem;
        margin: -9px auto;
    }
    
    .cart-bg {
        display: none;
        margin: -9px auto;
        width: 1.2rem;
        transition: all ease-in .2s;
        -webkit-transition: all ease-in .2s;
        -moz-transition: all ease-in .2s;
        -ms-transition: all ease-in .2s;
        -o-transition: all ease-in .2s;
    }
    
    nav .toggle-collapse {
        display: none;
        font-size: .7rem;
        color: var(--second_color);
        cursor: pointer;
    }
    
    @media screen and (max-width: 65rem) {
        .nav-elements {
            display: none;
        }
        .sign-cart i.fa-bars {
            font-size: 1.2rem;
            color: var(--main_color);
            margin-right: .7rem;
        }
        nav .toggle-collapse {
            display: flex;
        }
    }
    /********************************/
    
    .nav .toggle-collapse {
        cursor: pointer;
        display: none;
    }
    
    .nav .toggle-collapse .toggle-icons i {
        color: var(--main_color);
    }
    /********************************/
    
    input[type='email'],
    input[type='text'],
    input[type='password'],
    form #submit-btn,
    form #submit-btn-reg,
    form #submit-btn-partener {
        height: 8vh;
        border-radius: 10px;
        border: 1px solid var(--btn_color);
        width: 100%;
        margin: 5px 0;
        padding: 20px;
    }
    
    .sign button.active {
        color: #ff8d8d;
        outline: none;
    }
    
    #signup-form input[type='email'],
    #signup-form input[type='text'],
    #signup-form input[type='password'] {
        margin: 5px 0;
        height: 7vh;
    }
    
    input:focus {
        outline: none;
        border-color: var(--main_color);
    }
    
    input::placeholder {
        font-size: 15px;
    }
    
    .icom-img {
        width: 25px;
        margin-right: 10px;
    }
    
    a.back-home {
        position: absolute;
        text-decoration: none;
        left: 135px;
        top: 30px;
        color: var(--main_color);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 1.5rem -6rem;
        width: fit-content;
    }
    
    a.back-home i {
        margin-right: 10px;
        font-size: 1.1rem;
    }
    
    a.back-home h4 {
        color: var(--main_color);
        font-size: 1.1rem;
        font-weight: normal;
    }
    
    section #first .form {
        height: 90vh;
    }
    
    section #second .form {
        height: 95vh;
    }
    
    main.form {
        position: relative;
        margin: 30px auto;
        width: 80%;
        font-family: var(--Roborto);
        padding: 5vh 5vw;
        background: var(--white_color);
        border-radius: 10px;
        box-shadow: 0px 0px 8px var(--shadow-color);
    }
    
    main section.container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    section.customer-login {
        width: 45%;
    }
    
    section.partener-login {
        width: 42%;
    }
    
    section .sign {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    main.form h1 {
        margin: 0px auto 25px;
        font-size: 1.5rem;
        text-align: center;
        color: var(--second_color);
        font-family: var(--Roboto-Slab);
    }
    
    section .sign button {
        font-size: 1.2rem;
        color: var(--btn_color);
        background: var(--white_color);
        /* margin-bottom: 50px; */
        cursor: pointer;
        border: none;
    }
    
    section #signin-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    section #signin-form .user {
        display: flex;
        flex-direction: column;
        /* margin: .5rem 0; */
    }
    
    #first form label.lbl {
        top: 15px;
    }
    /*
#signup-form form label.lbl {
    top: 10px;
} */
    
    form label.lbl {
        color: var(--main_color);
        font-size: .9rem;
        padding: 3px;
        background: var(--white_color);
        width: 15%;
        position: relative;
        left: 13px;
        top: 17px;
    }
    
    #second .input-container:first-child {
        margin-top: 2vh;
    }
    
    form #submit-btn,
    form #submit-btn-reg,
    form #submit-btn-partener {
        background: var(--main_color);
        color: var(--white_color);
        height: 7vh;
        line-height: .2;
        font-size: 23px;
        cursor: pointer;
        border: none;
        margin: auto;
        /* padding:auto; */
    }
    
    form #submit-btn-reg {
        margin: 4vh auto;
    }
    
    .check-pw {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .7rem;
    }
    
    .check {
        display: flex;
        flex-direction: row;
        margin: 15px 0;
    }
    
    .check input[type='checkbox'] {
        border: 1px solid var(--second_color);
        height: 17px;
        width: 17px;
        cursor: pointer;
    }
    
    .check label {
        margin-left: 3px;
        cursor: pointer;
        font-size: .9rem;
    }
    
    .check-pw a {
        text-decoration: none;
        color: var(--main_color);
    }
    
    h4 {
        text-align: center;
        font-size: 1rem;
        color: var(--btn_color);
    }
    
    .soc-login {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px auto;
    }
    
    .soc-login button {
        width: calc(97%/2);
        height: 7vh;
        border-radius: 10px;
        border: 1px solid var(--btn_color);
        background: var(--white_color);
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px auto;
    }
    
    section.partener-login h2 {
        color: var(--second_color);
        font-size: 1rem;
        margin: 7px 0;
    }
    
    section.partener-login .lbl {
        top: 15px;
    }
    
    .partener-login input[type='email'],
    .partener-login input[type='password'] {
        margin: 5px 0;
    }
    
    #signin {
        left: 50px;
    }
    
    #signin {
        right: 450px;
    }
    
    #second {
        display: none;
    }