@import url('../../Fonts/fonts.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 5%, rgba(241,241,241,1) 17%);
    width: 92%;
    margin: 0 4%;
}


:root{
    /*Theme Color*/
    --main_color: #ff8d8d;
    --second_color: #272c32;
    --btn_color: #3f4551;
    --white_color: #FFF;
    --shadow-color: #888
    --Roborto: 'Roboto', 'sans-serif';
    --Roboto-Slab: 'Roboto-Slab', 'sans-serif';
}

main.container section.package-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

section.nav{
    height: 20vh;
}

.container{
    width: 70vw;
    margin: 2.4vh auto;
}

.capitalize{
    text-transform: capitalize;
}

a {
    text-decoration: none;
    font-size: medium;
    color: var(--second_color);
}

section.header{
    text-align: center;
    font-size: 1.3rem;
    color: var(--white_color);
}

section.header h1 span{
    color: var(--main_color);
}

section.header #pick-package{
    width: 37%;
    height: 6vh;
    padding: 1.5vh  1.5vw;
    margin-top: 5vh;
    background: var(--main_color);
    color: var(--white_color);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}



section.ready-pack{
    margin: 10vh auto;
}
section.ready-pack h2{
    text-align: center;
    font-size: 2rem;
    color: var(--second_color);
}

/****************************************/
#card1{
    width:  calc(100%/3 - 2vw);
    height: 380px;
    background-color: var(--white_color);
    border-radius: 15px;
    padding: 10px;
    text-align: start;
    box-shadow: 0px 0px 15px var(--shadow-color);
    margin: 1.5rem 0;
}

#box-card{
    width: 100%;
    height: 100%;
    /* padding: 10px;  */
}

#imges{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background: #333;
}

#card1 h2,
#card1 p{
    margin: 13px 2px 0;
    font-size: 1.2rem;
}

.show-more{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#card1 .btn{
    display: flex;
    position: relative;
    width: 50%;
    justify-content: space-between;
}
#card1 .btn button{
    width: 25rem;
    height: 2rem;
    border-radius: 7px;
    border: none;
    color: var(--white_color);
    outline: none;
    font-size: .7rem;
    margin: 5px 2px;
}
#card1 .btn #price{
    background-color: var(--btn_color);
}
#card1 .btn #discribtion{
    background-color: var(--main_color);
}

/***************/

/*******************Responsive*********************/
@media only screen and (max-width: 963px){
    #card1{
        width:  calc(100%/2 - 2vw);
    }
    section.header{
        font-size: .9rem;
    }

    section.header #pick-package{
        width: 55%;
        font-size: .8rem;
    }
    
    
}

@media only screen and (max-width: 660px){
    #card1{
        width:  calc(100% - 2vw);
    }
    section.header{
        font-size: .82rem;
    }
    section.header #pick-package{
        width: 90%;
        font-size: .8rem;
    }

    section.ready-pack h2{
        font-size: 1.5rem;

    }
    
}
