@import url('../CSS/fonts.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Roborto);
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 5%, rgba(241,241,241,1) 17%);
    width: 92%;
    margin: 0 4%;
}


:root{
    /*Theme Color*/
    --main_color: #ff8d8d;
    --second_color: #272c32;
    --btn_color: #3f4551;
    --white_color: #FFF;
    --shadow-color: #888;
    --Roborto: 'Roboto', 'sans-serif';
    --Roboto-Slab: 'Roboto-Slab', 'sans-serif';
}

.capitalize{
    text-transform: capitalize;
}

h2{
    color: var(--main_color);
    font-size: 1.2rem;
    margin: 0 0 1.8rem ;
}

h3{
    color: var(--second_color);
    font-size: 1.2rem;
    margin: 1.5rem 0;
}

input{
    margin-right: 5px;
}

input[type='checkbox']{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

label{
    cursor: pointer;
}

.check-mark{
    position: absolute;
    top: -1px;
    left: -25px;
    height: 1.3rem;
    width: 1.3rem;
    border: 1px solid var(--btn_color);
    border-radius: 2px;
    cursor: pointer;
}

.check-box:hover input[type='checkbox'] ~ .check-mark {
    background-color: var(--shadow-color);
}

.check-box input:checked ~ .check-mark  {
    background: var(--main_color) ;
    border: none;
}


.check-mark:after {
    content: "";
    position: absolute;
    display: none;
}

  /* Show the checkmark when checked */
input[type='checkbox']:checked ~ .check-mark:after {
    display: block;
}

.check-box .check-mark:after {
    left: 7.3px;
    top: 2px;
    width: 3px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    margin: 2px auto;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

section.nav{
    height: 20vh;
}

main h1.head-title{
    font-size: 1.3rem;
    text-align: center;
    font-family: var(--Roboto-Slab);
    color: var(--white_color);
}

main h1.head-title span{
    color: var(--main_color);
    font-family: var(--Roboto-Slab);
}

.filter-container{
    width: 50%;
    margin: 0 auto;
}


.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--white_color);
    padding: 3rem;
    margin: 4rem 0;
    box-shadow: 0 0 20px #bababa;
    border-left: 15px solid var(--main_color);
    border-right: 10px solid var(--white_color);

}

.event-type{
    box-shadow: 0 0 20px #bababa;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.check-box{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--btn_color);
    margin: 0 0 1rem 1.7rem;
    cursor: pointer;
}

input[type='text']{
    margin-left: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 100%;
}

.fill-info{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fill-info .booking{
    display: flex;
    flex-direction: row;
}

.fill-info .bookingdt{
    display: flex;
    justify-content: space-between;
}

input[type='date'],
input[type='time']{
    margin: 10px 0;
    width: 90%;
    height: 2rem;
}

.fill-info .booking label{
    color: var(--main_color);
    font-size: .9rem;
}

.fill-info .booking label span{
    color: var(--shadow-color);
    font-size: .9rem;
}

input[type='date'],
input[type='time']{
    outline: none;
    padding: 2px;
    cursor: text;
border-width: 1px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
}

input[type="date"]::webkit-calendor-datepicker{
    background: #ff8d8d;
}

input[type='date']:focus,
input[type='time']:focus{
    border: 1px solid var(--main_color);
    outline: none;
}

.transportion{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--second_color);
}

.transportion label{
    font-size: .9rem;
}
.cars{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.transport-count{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 16px .5rem;
    /* pointer-events: none;
    opacity: .5; */
}


.transport-count input[type='number'],
.transport-count select{
    height: 1.5rem;
    padding: 3px;
    outline: none;
    border-width: 1px;
}

.transport-count input[type='number']{
    width: 3rem;
    margin-left: .5rem;
}

.transport-count select{
    width: 7rem;
    cursor: pointer;
}

.transport-count input[type='number']:focus,
.transport-count select:focus{
    border: 1px solid var(--main_color);
    outline: none;
}

#search-btn{
    height: 3.2rem;
    width: 7.7rem;

    background: var(--main_color);
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom:  3rem;
    box-shadow: 0 0 8px var(--shadow-color);
    transition: all ease-in .2s;
}

#search-btn{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white_color);
}

#search-btn:hover{
    background: transparent;
    border: 1px solid var(--main_color);
}

#search-btn:hover {
    color: var(--main_color);
}

/* .check-box input:checked ~ .transport-count{
    pointer-events: auto;
    opacity: 0;
} */
