@import url('../CSS/fonts.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Roborto);
    font-weight: normal;
}

:root {
    /*Theme Color*/
    --main_color: #ff8d8d;
    --second_color: #272c32;
    --btn_color: #3f4551;
    --white_color: #FFF;
    --shadow-color: #888;
    --Roborto: 'Roboto', 'sans-serif';
    --Roboto-Slab: 'Roboto-Slab', 'sans-serif';
}

.active {
    color: var(--main_color);
}

.capitalize {
    text-transform: capitalize;
}

h2 {
    color: var(--main_color);
    font-size: 1.2rem;
    margin: 0 0 1.8rem;
}

input {
    margin-right: 5px;
}

input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

label {
    cursor: pointer;
}

.filter-header {
    text-align: center;
    font-size: 1.3rem;
    background: #0A1420;
    padding: 3rem 0 0;
    line-height: 1.8;
}

.bg {
    margin: 0;
    height: 8rem;
    background: rgb(10, 20, 32);
    background: linear-gradient(180deg, rgba(10, 20, 32, 1)30%, rgba(237, 237, 237, 0)95%);
}

.check-mark {
    position: absolute;
    top: -1px;
    left: -25px;
    height: 1.3rem;
    width: 1.3rem;
    border: 1px solid var(--btn_color);
    border-radius: 2px;
    cursor: pointer;
}

.check-box:hover input[type='checkbox']~.check-mark {
    background-color: var(--shadow-color);
}

.check-box input:checked~.check-mark {
    background: var(--main_color);
    border: none;
}

.check-mark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

input[type='checkbox']:checked~.check-mark:after {
    display: block;
}

.check-box .check-mark:after {
    left: 7.3px;
    top: 2px;
    width: 3px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    margin: 2px auto;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

section.nav {
    height: 20vh;
}

main h1.head-title {
    font-size: 1.3rem;
    text-align: center;
    font-family: var(--Roboto-Slab);
    color: var(--white_color);
}

main h1.head-title span {
    color: var(--main_color);
    font-family: var(--Roboto-Slab);
}

.filter-container {
    width: 791px;
    margin: -50px auto 0;
}

.form-container {
    /* width: 92%; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--white_color);
    padding: 3rem;
    margin: 5rem auto;
    box-shadow: 0 0 20px #bababa;
    border-left: 15px solid var(--main_color);
    border-right: 10px solid var(--white_color);
}

.form-container h3 {
    color: var(--second_color);
    font-size: 1.2rem;
    margin: 1.5rem 0;
}

.event-type {
    box-shadow: 0 0 20px #bababa;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.check-box {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--btn_color);
    margin: 0 0 1rem 1.7rem;
    cursor: pointer;
}

input[type='text'] {
    margin-left: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 100%;
}

.fill-info {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fill-info .booking {
    display: flex;
    flex-direction: row;
}

.fill-info .bookingdt {
    display: flex;
    justify-content: space-between;
}

input[type='date'],
input[type='time'] {
    margin: 10px 0;
    width: 90%;
    height: 2rem;
}

.fill-info .booking label {
    color: var(--main_color);
    font-size: .9rem;
}

.fill-info .booking label span {
    color: var(--shadow-color);
    font-size: .9rem;
}

input[type='date'],
input[type='time'] {
    outline: none;
    padding: 2px;
    cursor: text;
    border-width: 1px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

input[type="date"]::webkit-calendor-datepicker {
    background: #ff8d8d;
}

input[type='date']:focus,
input[type='time']:focus {
    border: 1px solid var(--main_color);
    outline: none;
}

.transportion {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--second_color);
}

.transportion label {
    font-size: .9rem;
}

.cars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.transport-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 16px .5rem;
    /* pointer-events: none;
    opacity: .5; */
}

.transport-count input[type='number'],
.transport-count select {
    height: 1.5rem;
    padding: 3px;
    outline: none;
    border-width: 1px;
}

.transport-count input[type='number'] {
    width: 3rem;
    margin-left: .5rem;
}

.transport-count select {
    width: 7rem;
    cursor: pointer;
}

.transport-count input[type='number']:focus,
.transport-count select:focus {
    border: 1px solid var(--main_color);
    outline: none;
}

#search-btn {
    height: 3.2rem;
    width: 7.7rem;
    background: var(--main_color);
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 2rem 0;
    box-shadow: 0 0 8px var(--shadow-color);
    transition: all ease-in .2s;
}

#search-btn {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white_color);
}

#search-btn:hover {
    background: transparent;
    border: 1px solid var(--main_color);
}

#search-btn:hover {
    color: var(--main_color);
}


/**************************Responsive**************************/

@media only screen and (min-width: 991px) and (max-width: 1024px) {
    .filter-container {
        width: 800px;
    }
}

@media only screen and (min-width: 665px) and (max-width: 991px) {
    .filter-container {
        width: 600px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 665px) {
    .filter-container {
        width: 95%;
    }
    .fill-info .booking {
        display: flex;
        flex-direction: column;
    }
    .fill-info .bookingdt {
        display: flex;
        flex-direction: column;
    }
    .transportion {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .transport-count {
        margin-left: 0;
    }
}

@media only screen and (max-width: 366px) {
    * {
        font-size: 97%;
    }
    .filter-container {
        width: 92%;
        margin: -80px auto 0;
    }
    .fill-info .booking {
        display: flex;
        flex-direction: column;
    }
    .fill-info .bookingdt {
        display: flex;
        flex-direction: column;
    }
    .transportion {
        margin-bottom: 15px;
    }
    .transportion label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2px;
    }
    .transport-count {
        margin-left: 0;
    }
    .transport-count input[type='number'],
    .transport-count select {
        margin-left: 0;
    }
    .transport-count input[type='number'] {
        margin-bottom: 3px;
    }
}