* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*,
html {
    --main-color: #FF8D8D;
    --secondaryGradient: #000000;
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}


/******************* Chatbot ***********************/

.chat-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
}

.chatbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chatbox__support {
    display: none;
    opacity: 0;
    background: #f9f9f9;
    height: 400px;
    width: 300px;
    margin: 0 20px 40px 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.chatbox__header {
    /* position: sticky; */
    top: 0;
    background: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: var(--primaryBoxShadow);
}

.chat-exit {
    background: inherit;
    outline: none;
    border: none;
    cursor: pointer;
}

.chat-exit i {
    color: #fff;
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__image--header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.chatbox--active {
    display: flex;
    flex-direction: column;
    transform: translateY(-40px);
    opacity: 1;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.text-us {
    width: 6.2rem;
    position: fixed;
    bottom: 0;
    right: 40px;
    /* z-index: 10000; */
    cursor: pointer;
}


/* MESSAGES */

.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: auto;
    flex-direction: column-reverse;
    margin-bottom: 10px;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}


/* HEADER */

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}


/* Messages */

.chatbox__messages {
    padding: 0 20px;
    /* height: 80%; */
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #959595;
    color: white;
}


/* FOOTER */

.chatbox__footer {
    /* position: sticky; */
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: var(--main-color);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
    outline: none;
}

.chatbox__footer input :focus {
    outline-color: var(--main-color);
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    background: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    /* z-index: 100000; */
}